[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dependabot-dep-poc = {ref = "2023.8.2", git = "ssh://git@github.com/Kilka-Software/dependabot-dep-poc.git"}

[dev-packages]

[requires]
python_version = "3.11"
